*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
header{
    width: 100%;
display:flex;
justify-content: space-around;
align-items:center;
background-color: rgb(242, 246, 246);





}
ul{
    list-style: none;
    display: flex;
align-items: center;



}
ul li{
    margin: 35px;
    font-size: 40px;
    font-weight: 800;
    color: red;
justify-content: center;

}
ul li:hover{
    background-color:yellow;
    color: black;
    font-size: 50px;
    font-weight: 800;
    border-radius: 100px;
}
main{
    border: 2px solid rgb(19, 16, 16);
    display: flex;
    justify-content: center;
align-items: center;
padding: 20px;
}
.bg{
    width: 500px;
    height: 400px;

}
main h1{
    font-size: 40px;
    color: rgb(70, 32, 220);
    text-transform:uppercase;
    margin: 20p;

}    
main h2{
    font-size: 35px;
    color: rgb(210, 105, 0);
    text-transform:uppercase;
    margin: 20px;

    
}
main p{
    font-size: 25px;
    color: blue;
    font-weight: 800;
    margin: 30px 0;
    line-height: 25px;
}
main button{
    color: red;
    padding: 20px;
    background-color:blue;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 100px;

}
.signbtn{
    color: red;
    padding: 20px;
    background-color:blue;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 100px;


}
.logo{
    border-radius: 100px
}
